
deps/*
src/*.o
tests/*.o
response.txt
cc_parser.zip
cc_parser
cc_indexer.zip
cc_indexer
cc_api.zip
cc_api
cc_full_text.zip
cc_full_text
frontend/node_modules
run_tests
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
warc.paths
.vscode
