
deps/*
tmp/*
src/*.o
tests/*.o
build/*
documentation/*.aux
documentation/*.log
.DS_Store
config/config.h
response.txt
cc_parser.zip
cc_parser
cc_indexer.zip
cc_indexer
cc_api.zip
cc_api
cc_full_text.zip
cc_full_text
run_tests
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
warc.paths
.vscode
.gdb_history

