
h1 a {
	text-decoration: none;
	color: #000;
}

.search-box-front {
	margin-top: 20px;
	margin-left: 20px;
	width: 800px;
	margin: 0 auto;
}

.search-form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.search-box-front input {
	flex: 1 1 auto;
	width: 1%;
	font-size: 22px;
	padding: 2px 7px;
}

.search-box-button {
	display: flex;
	font-size: 23px;
}

.search-form {
	margin-bottom: 20px;
}

.search-results {
	max-width: 700px;
}

@media (max-width: 767px) {
	.search-box-front {
		width: 100%;
	}

	.search-box-front-inner {
		margin: 0 10px;
	}

	.search-box-front input {
		
	}

	.search-results {
		max-width: 100%;
	}
}

.top-menu {
	float: right;
}